<div class="col-lg-9 col-lg-offset-3">
  <%= simple_form_for :user, url: sessions_path do |f| %>
    <%= f.input :username %>
    <%= f.input :dialect, collection: Dialect.to_a %>
    <%= f.button :submit %>
  <% end %>
</div>
